<html>
	<head>
		<title>Hearts</title>
	</head>
	<body>
	    <div id="fb-root"></div>
		<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1441116782789661',
				status     : true,
				xfbml      : true
			});
			FB.ui({
				method: 'feed'
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
		<div class="container">
			<button style="text-align:center">Get Hearts Now</button>
		</div>
	</body>
</html>