<html>
	<head>
		<title>Hearts</title>
	</head>
	<style type="text/css">
		html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
	</style>
	<body background="background.jpg">
		<div class="mybigheader">How does the person you chat with feel about you?</div>
		<div class="mybigheader"> Find out if you're more into the person you are chatting with than he/she is into you using our app </div>
		<a id="chromeext" href="http://hearts3.herokuapp.com">Install Chrome Extension</a> 
	</body>
</html>