{% extends "base.html" %}
{% block title %}Hearts{% endblock %}
{% block content %}
	<h1>Your conversations:</h1>
	<div class="container">
		{% for x in count %}
		{% if names[x] %}
		<h2>Name: <a href="{{urls[x]}}">{{names[x]}}</a> <span class="smaller">(Gender: {{genders[x]}}{% if relationships[x] %}, 
		Relationship Status: {{relationships[x]}}{% endif %})</span></h2>
		<h4>You send {{avg_words[x][0]}} words per message</h4>
		<h4>{{names[x]}} sends {{avg_words[x][1]}} words per message</h4>
		<h4>You send {{percents[x]}}% of the chat messages</h4>
		<div class="progress progress-striped">
            <div class="progress-bar progress-bar-warning" style="width: {{percents[x]}}%;"></div>
        </div>
        {% endif %}
		{% endfor %}
		<br>
		<div style="text-align:center;">
			<h3 style="text-align:center;">Email basic HTML of my conversation statistics to me</h3>
			<form id="form">
				<label>Enter an email: 
					<input name="email" id="email">
				</label>
				<button type="submit" class="btn btn-warning">Send</button>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$('#form').submit(function (event) {
			event.preventDefault();
			var email = $('#email').val();
			$.ajax({
				type: 'POST',
				url: "https://api.sendgrid.com/api/mail.send.json",
				data: {
					api_user: "parasm",
					api_key: "bcabooks",
					to: email,
					toname: "Dearly Beloved",
					subject: "Conversation Stats",
					html: '{{str_format}}',
					from: "stats@gimmehearts.com"
				},
				success: function(data){
					alert("Email successfully sent!");
				}
			});
			alert("Email successfully sent!");
		});
	</script>
{% endblock %}